#contact {
  .entry-title {
    @include entry-title;
  }

  .row {
    margin-bottom: 15px;
  }

  .col-sm-6 {
    text-align: left;
  }

  .form-control {
    border-radius: 0;
    border: 1px solid #ddd;
  }

  .control-label {
    font: bold 10pt $titleFont;
  }

  .label {
    margin: 0;
  }

  .btn {
    width: 55%;
    border-radius: 0;
  }

  .btn-primary {
    background-color: $red;
    color: $light-gray;
    font: 10pt $titleFont;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 0px solid transparent;
    padding: 10px 12px;
    margin-bottom: 50px;

    &:hover {
      background-color: $black;
      color: $light-gray;
      @include transition(background-color .5s ease);
    }
  }

  @media screen and (min-width: 991px) { /* bootstrap edits - CONTACT pg */
    .contact-align { // the contact info ex. phone and stuff
      text-align: left;
    }
  }

  @media screen and (max-width: 990px) {
    .contact-align {
      text-align: center;
      padding-bottom: 30px;
    }
  }


  .fa-contact {
    float: left;
    clear: both;
    padding-right: 20px;

    @include phone {
      float: none;
      text-align: center;
      padding: 0;
    }
  }


  #contact-info {
    text-align: right;
    font-size: 80%;
    line-height: 145%;
    padding-right: 30px;

    h2 {
      text-align: right;
    }
  }

  #info-resized {
    text-align: left;
    font-size: 85%;
    padding-left: 30px;

    @include phone {
      text-align: center;

      .col-xs-12 {
        margin-bottom: 10px;
        line-height: 150%;
      }
    }

    b {
      font-family: $titleFont;
    }
  }

  #note {
    h2 {
      text-align: left;
    }

    b {
      color: $red;
    }

    p {
      text-align: right;
      font-size: 75%;
    }
  }
}
