#photo-event {
  &.container {
    padding-top: 100px;
  }

  h1, .entry-title {
    font-family: $titleFont;
    text-align: left;
    display: table;
    padding: 10px 0px 10px 20px;
    width: 100%;
  }

  h2 {
    padding: 10px 0px;
  }

  .col-xs-12 {
    padding-bottom: 10px;
  }

  #mainImage {
    max-height: 500px;
    max-width: 800px;
  }

  #hold {
    height: 500px;
    // width: 800px;
    z-index:1;
    position: relative;
    text-align: center;   /* centers image */
    overflow: hidden;
  }

  #thumbnails {     /* thumbnails width = thumbGallery width + (thumbnailArrows width)*2 */
    width: 770px;
    height: 100px;
    margin: 20px auto;
  }

  #thumbGallery {
    overflow: hidden;
    float: left;
    position: relative;
    text-align: center;
    width: 715px;
    height: 120px;
  }

  #imageContain { /* width is dynamically set by js */
    position: absolute;
    height: 110px;
    top:0px;
    left:0px;
  }

  #imageContain img {
    float: left;
    width: 100px;
    height: 100px;
  }

  #imageContain img:first-child {
    margin-left: 25px;
  }

  #thumbnails {
    &:hover {
      cursor: pointer;
    }
    
    .thumbnailArrows {
      float: left;
      position: relative;
      width: 25px;
      top: 50%;
      transform: translateY(-50%);

      &:hover {
        cursor: pointer;
      }

      img {
        height: auto;
        width: 20px;
      }
    }
  }
}
