#photo-event {
  &.container {
    padding-top: 100px;
  }

  h1, .entry-title {
    font-family: $titleFont;
    text-align: left;
    display: table;
    padding: 10px 0px 10px 20px;
    width: 100%;
  }

  h2 {
    padding: 10px 0px;
  }

  .col-xs-12 {
    padding-bottom: 10px;
  }

  #details {
    padding-bottom: 30px;
  }

  #mainImage {
    // max-height: 500px;
    max-width: 950px;

    @media (min-width: 991px) and (max-width: 1200px) {
      max-width: 790px;
    }
  }

  #hold {
    height: 500px;
    // width: 800px;
    z-index:1;
    position: relative;
    text-align: center;   /* centers image */
    overflow: hidden;
  }

  #thumbGallery {
    overflow: hidden;
    float: left;
    position: relative;
    text-align: center;
    width: 890px;
    height: 100px;

    @media (min-width: 991px) and (max-width: 1200px) {
      width: 740px;
    }

    @media (max-width: 990px) {
      width: 640px;
    }
  }

  #imageContain { /* width is dynamically set by js */
    position: absolute;
    height: 110px;
    top:0px;
    left:0px;

    img {
      float: left;
      width: 100px;
      height: 100px;

      @media (min-width: 991px) and (max-width: 1200px) {
        width: 80px;
        height: 80px;
      }

      &:first-child {
        margin-left: 15px;

        @media (min-width: 991px) and (max-width: 1200px) {
          margin-left: 10px;
        }
      }
    }
  }

  #thumbnails {
    width: 940px;
    height: 100px;
    margin: 30px auto;

    @media (min-width: 991px) and (max-width: 1200px) {
      width: 790px;
      height: 80px;
    }

    @media (max-width: 990px) {
      width: 850px;
    }

    &:hover {
      cursor: pointer;
    }

    .thumbnailArrows {
      float: left;
      position: relative;
      width: 25px;
      top: 50%;
      transform: translateY(-50%);

      @media (max-width: 990px) {
        width: 40px;
      }

      &:hover {
        cursor: pointer;
      }

      img {
        height: auto;
        width: 20px;
      }
    }
  }
}
