#services {
  h1, .entry-title {
    padding: 20px 0px 20px 30px;
    width: 100%;
    font-family: $titleFont;
    letter-spacing: 2px;
    text-align: left;
    display: table;
  }

  .row#about {
    padding-top: 65px;
  }

  .col-md-6 {
    padding-left: 30px;

    p {
      padding-left: 5px;
    }
  }
}
